.DS_Store

## Playgrounds
timeline.xctimeline
playground.xcworkspace



### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/
